* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 65px;
    display: flex;
    background-color: rgb(35, 83, 144);
    position: relative;
    padding: 15px;
}

img {
    position: absolute;
    width: 150px;
    margin-left: 170px;
}

.image {
    width: 40px;
    height: 40px;
}

nav.vertical {
    width: 240px;
    margin: 20px;
    position: relative;
    margin-left: 50%;
}

nav.vertical ul {
    list-style: none;
    margin-top: -20px;
}

nav.vertical li {
    position: relative;
}

nav.vertical a {
    display: block;
    color: #eee;
    text-decoration: none;
    padding: 10px 15px;
    transition: 0.3s;
    width: 210px;
    background: rgb(35, 83, 144);
}

nav.vertical li:hover>a {
    background: rgb(255, 255, 255);
    color: black;
}

nav.vertical ul ul {
    position: absolute;
    left: 0%;
    top: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: transform 0.4s;
    transform: translateY(70px);
}

nav.vertical li:hover>ul {
    bottom: 200%;
    visibility: visible;
    opacity: 1;
    transform: translateY(70px);
    background: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
}

.button1 {
    position: relative;
    width: 100px;
    height: 40px;
    margin-top: -3px;
    border-radius: 15px;
    background: rgb(88, 204, 2);
    text-align: center;
    border-bottom: 4px solid rgb(115, 230, 28);
    display: flex;
    justify-content: center;
    text-align: center;
}

.but1 {
    color: white;
    font-weight: 600;
    font-size: 19px;
    margin-top: 5px;
}

.button2 {
    position: relative;
    width: 100px;
    height: 40px;
    margin-top: -3px;
    border-radius: 15px;
    background: rgb(255, 255, 255);
    border-bottom: 4px solid rgb(201, 216, 236);
    text-align: center;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.but2 {
    color: rgb(35, 83, 144);
    font-weight: 600;
    font-size: 19px;
    margin-top: 5px;
}

.button1:hover {
    background: rgb(125, 226, 48);
    border-bottom-color: rgb(76, 145, 23);
}
